#footer{
    background-image: url("../images/background_footer.gif");
    background-repeat: repeat-x;
    margin: auto;
    margin-top: 5px;
    height: 50px;
    width: 1024px;
}

.copyright{
    height: 100%;
    width: 100%;
    padding: 10px;
}

.copyright .logo{
    font-family:  arial, verdana, sans-serif;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#content{
    background-color: #ffffff;
    min-height: 450px;
    margin: auto;
    width: 1024px;
}

#header {
    background-image: url("../images/background_header.gif");
    background-repeat: repeat-x;
    margin: auto;
    height: 118px;
    width: 1024px;
}

#nav {  
    padding: 0; 
    margin: 0;
    bottom:0px; 
}  
#nav li {  
    display: inline-block;  
    background-image: url("../images/background_menu.gif");
    position: relative;
    top: 25px;
} 

#nav li:hover {  
    background-image: url("../images/background_header.gif");
} 

#nav a {  
    font-family:  arial, verdana, sans-serif;
    color: #ffffff;
    display: inline-block;
    line-height: 100%;
    margin: 10px 50px; 
    text-decoration: none;
}

#nav a:active {  
    font-family:  arial, verdana, sans-serif;
    color: #000000;
}

.menu .logo{
    font-family:  arial, verdana, sans-serif;
    color: #000000;
    font-size: 45px;
    font-weight: bold;
    text-shadow: -3px -4px 0 #f1f1f1;
    position: relative;
    left: 5px;
    top: 15px;
}